* {
    font-size: 100%;
    font-family: Futura;
}

#head {
    float: left;
    position:relative;
    left:0;
    width: 100%;
    text-align: center;
}

#vis {
    padding-top: 40px;
    margin: auto;
    width: 100%;
}

#content {
    padding-top: 40px;
    padding-left: 40px;
    margin: auto;
}

#footer {
    background-image: url(../optics/img/footer.png);
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    font-size: 25px;
    color: white;
    position:absolute;
    bottom: 0px;
    left:0;
    width: 100%;
    text-align: center;
}

.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}