<!doctype html>
<html lang="en">
<head>
    <title>Report</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-8">

                <table id="table" class="table table-hover table-light table-bordered" data-toggle="table" data-height="510" data-search="true" data-pagination="true">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col" data-sortable="true">ID</th>
                        <th scope="col" data-sortable="true">Position</th>
                        <th scope="col">Referenz</th>
                        <th scope="col">Alternative</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for variant in variants %}
                    <tr
                            class="variant-row"
                            id="{{ variant.id }}"
                            data-name="{{ variant.name }}"
                            data-id="{{ variant.id }}"
                            data-position="{{ variant.position }}"
                            data-reference="{{ variant.reference }}"
                            data-alternatives="{{ variant.alternatives | safe }}"
                    >
                        <th scope="row">{{ variant.name }}</th>
                        <td>{{ variant.id }}</td>
                        <td>{{ variant.position }}</td>
                        <td>{{ variant.reference }}</td>
                        <td>{{ variant.alternatives}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <table id="sidebar" class="table table-hover table-light table-bordered" style="margin-top: 58px;">
                </table>
            </div>

            <script>
                $(document).ready(function () {
                    $("html").on('click', '.variant-row', function () {
                        $("#sidebar").empty();
                        $.each($(this).data(), function(i, v) {
                            if (i !== 'index') {
                                $('#sidebar').append('<tr><th class="thead-dark">' + i + '</th><td>' + v + '</td></tr>');
                            }
                        });
                    })
                })
            </script>
        </div>
    </div>
</body>
</html>